.back
{
   background-color:#392467 !important;  
   
}
.inputfield
{
    border-radius:50px !important;
    height:60px;
}
.text
{
    font-size:12px;
}
.btncolor 
{
   background-color: #aa94ef !important;
}
.checkbox
{
    border-color:black !important;
    border:2px solid !important;
}
.background
{
  height:100vh;
}
.cardcolor
{
  background-color:#A367B1 !important;
}
.curved
{
  border-bottom-right-radius: 10%;  
}
.text1
{
  font-size:15px;
}
.image
{
  width:200px !important;
  height:200px !important;
}
.alignimage
{
  display:flex;
  justify-content: center;
  align-items: center;
  background-color: #7464bc !important; 
}
.bord
{
   border-color: #7464bc;
}
.logo
{
  width:300px;
  height:100px;
  align-self: center;
}
.textcolor
{
  color: #e5caf8;
}
.back1
{
  background-color: #7464bc !important;
}
.logo1{
    width: 301px !important;
    height: 131px;
    margin:auto;
    margin-bottom:23px;    
}
.heights
{
  height:100%;
}
.textcolor1
{
  color:#7464bc;
}
.textcolor2
{
  color:#392467 !important;
}
.a:hover
{
  background-color:#310750!important;
}
.CreAvavtar
{
  margin-left: auto;
}
.address
{
  resize :none;
}
.alignnav
{
  width:100vw;
}
a
{
  text-decoration: none !important;
}
.a2:active
{
  background-color:#310750!important;
}
.cursorpoint
{
  cursor:default;
}
.a1  {
  background-color:#392467;
  color:white !important;  
}
.a3{
  border-radius: 5px !important;
}
.cardalign
{
  height:100vh;
}
.textcolor5
{ 
  color: rgb(80, 98, 119); 
}
.backcardcolor{
  position:fixed;
  top:0;
  left:0; 
  background-color: rgb(234, 211, 211) !important;
}
input[type=radio]:checked {
  background-color:#105692 ;
}
.colortable
{
  background-color: #7464bc !important;
}
.alignbtn
{
  margin-inline-start: auto;
}
.hov:hover{
  
  border:1px solid;
  border-color: #7464bc;
  box-shadow: 2px 3px 10px 2px rgba(0,0,0,0.75);  

}
.textbright:hover{
  color:#7464bc !important;
  
  transform : translate3d(0px, -56.2px, 0px);
}
::-webkit-scrollbar{
  display: none;
}
.bordcolor
{
  border-color: #392467;
}
.img-wrapper{
  overflow:hidden;
}
img.hover-zoom:hover {
  transform: scale(1.25);  
}
.page-item {
  margin-right: 0px;
}
.page-link{
  color:#7464bc !important;

}
.page-link:hover {
  background-color: #eee;
}
.page-item.active .page-link {
  color: #ffff !important; 
  background-color:#310750; 
}
.textcolor3
{
  color:#392467 !important;
}

